NEXT_PUBLIC_CHAIN_ID=97
NEXT_PUBLIC_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
NEXT_PUBLIC_BACKEND_URL=http://localhost:8080

NEXT_PUBLIC_ENTRYPOINT_ADDRESS=0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789
NEXT_PUBLIC_PAYMASTER_ADDRESS=0x519b19dDEd3A35176714BFc0FfbeF049cf451a04
NEXT_PUBLIC_USDT_ADDRESS=0x9fd1F2AdD8E3eB7C35f534E59EeB58c711a24cAb
NEXT_PUBLIC_TUSDT_ADDRESS=0x9fd1F2AdD8E3eB7C35f534E59EeB58c711a24cAb
NEXT_PUBLIC_TUSDC_ADDRESS=0x70d102dC25434002A167c0F58CF13C72E227735f
NEXT_PUBLIC_DELEGATE_ACCOUNT_ADDRESS=0x7C31CF3E66ce1E4C1B5e00a94FEcdDDA27180A75

NEXT_PUBLIC_RECIPIENT_ADDRESS=0x84D98c4faa590cD7cA746E18AcF3bcE8AD61E1b2
NEXT_PUBLIC_USDT_NAME=Mock USDT
NEXT_PUBLIC_TUSDT_NAME=Test USDT
NEXT_PUBLIC_TUSDC_NAME=Test USDC