NEXT_PUBLIC_CHAIN_ID=97
NEXT_PUBLIC_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
NEXT_PUBLIC_BACKEND_URL=http://localhost:8080

NEXT_PUBLIC_ENTRYPOINT_ADDRESS=0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789
NEXT_PUBLIC_PAYMASTER_ADDRESS=0xyour_paymaster_address
NEXT_PUBLIC_USDT_ADDRESS=0xyour_mock_usdt_address
NEXT_PUBLIC_DELEGATE_ACCOUNT_ADDRESS=0xyour_delegate_logic_address

NEXT_PUBLIC_RECIPIENT_ADDRESS=0xyour_receiver
NEXT_PUBLIC_USDT_NAME=Mock USDT
