BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
BSCSCAN_API_KEY=your_bscscan_api_key

DEPLOYER_PRIVATE_KEY=0xyour_deployer_pk
QUOTE_SIGNER=0xyour_backend_signer_address
ENTRYPOINT_ADDRESS=0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789

INITIAL_USER=0xyour_eoa
INITIAL_MINT=1000000000000
TOKEN_PER_NATIVE=600000000
SETTLEMENT_MARKUP_BPS=500
PAYMASTER_DEPOSIT_WEI=200000000000000000
